/venv/
/__pycache__/
/lesson10/docker/db-data/mongo-data/
/lesson10/docker/db-data/pg-data/
/lesson10/docker/db-data/redis-data/
example*.db
*.log
*.pyc
/lesson.16/*.csv
/lesson.16/*.json
/lesson.16/.ipynb_checkpoints/
/lesson.18.tol/public_files/1920x1080.jpg
