{% extends 'base.html' %}

{% block title -%}
  Products
{%- endblock %}

{% block body %}
  <h1>Products list</h1>

  <div class="alert alert-info ml-0" role="alert">
    Sale only today!
  </div>

  <div class="row">
    <ul class="list-group col-sm-3">
      {% for product_id in products %}
        <li class="list-group-item product-item">
          <a class="my-2" href="{{ url_for('product_app.product_detail', product_id=product_id) }}">
            {{ products[product_id] }} :1
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul class="list-group col-sm-9">
      {% for product_id in products %}
        <li class="list-group-item product-item">
          <a class="my-2" href="{{ url_for('product_app.product_detail', product_id=product_id) }}">
            {{ products[product_id] }} :2
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block after_body %}
  <script>
    $(function () {
      const productItems = $('.product-item')
      console.log(productItems)
    });
  </script>
{% endblock %}
